<ion-content class="main-container">
    <ion-grid padding>
        <ion-row>
            <ion-col offset-md-2 col-md-8 col-12 class="main">
                <div class="top">
                    <img src="../../assets/imgs/techd-logo.svg">
                </div>
                <div class="message content-box">
                    <p>{{message}}</p>
                </div>

                <h1>Portfolio</h1>
                <div class="content-box">
                    <ion-row>
                        <ion-col col-xl-4 col-sm-6 col-12>
                            <div (click)="seede()">
                                <ion-card>
                                    <img src="../../assets/imgs/portfolio-seede.jpg">
                                    <ion-item style="display: flex; align-items: center;">
                                        <h2>seede</h2>
                                        <p>Simple Task Manager</p>
                                    </ion-item>
                                </ion-card>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <h1>Technologies</h1>
                <div class="content-box">
                    I often use the following technologies.
                </div>
                <div class="content-box">
                    <div class="table">
                        <ion-row *ngFor="let t of technologies">
                            <ion-col col-4 class="first-col">{{t.name}}</ion-col>
                            <ion-col>{{t.description}}</ion-col>
                        </ion-row>
                    </div>
                </div>
                <h1>About</h1>
                <div class="content-box">
                    <div class="table">
                        <ion-row *ngFor="let p of profile">
                            <ion-col col-4 class="first-col">{{p.name}}</ion-col>
                            <ion-col>{{p.description}}</ion-col>
                        </ion-row>
                    </div>
                </div>
                <div class="content-box">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
                <div class="footer">© Copyright techd. All Rights Reserved.</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab right bottom>
        <button ion-fab color="primary">
            <ion-icon name="mail"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab (click)="facebook()">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-fab (click)="twitter()">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
